.homeContainer {
  background-image: url('src\assets\images\background.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: 100% 100%;
  -o-background-size: cover;
  width: 100% !important;
  height: 100% !important;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  color: #ffffff; /* White text color */
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #ffcc00; /* Yellow of money */
}

p {
  font-size: 20px;
  margin-bottom: 20px;
  color: #ffffff; /* Shades of red */
}

button {
  background-color: #ffcc00;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #cc0000; /* Darker shade of red */
}

